<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>$title$ - The Life Monadic</title>
        <link rel="stylesheet" href="//cdn.jsdelivr.net/pure/0.4.2/pure-min.css" />
        <link rel="stylesheet" type="text/css" href="/css/skin.css" />
        <link rel="stylesheet" type="text/css" href="/css/default.css" />
        <link rel="stylesheet" type="text/css" href="/css/syntax.css" />

        <!-- Favicon -->
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <link rel="manifest" href="/site.webmanifest">
        <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
        <meta name="msapplication-TileColor" content="#603cba">
        <meta name="theme-color" content="#f1e7f6">

        <!-- Twitter card -->
        <meta name="twitter:card" content="summary" />
        <meta name="twitter:site" content="@duplode" />
        <meta name="twitter:title" content="$title$" />

    </head>
    <body class="pure-skin-duplode">
      <div class="pure-g-r">
        <div class="pure-u-1-4">
          <div id="navigation" class="no-print">
            <div class="pure-menu pure-menu-open">
              <a class="pure-menu-heading menu-title">
                The Life<br>
                Monadic<br>
                <span class="menu-subtitle">by duplode</span>
              </a>
              <ul>
                <li><a href="/index.html">Home</a></li>
                <li><a href="/posts.html">Posts</a></li>
                <li><a href="/about.html">About</a></li>
                <li><a href="/rss.xml">RSS</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="pure-u-3-4">
          <div id="content">
            <h1>$title$</h1>

            $body$

          </div>
          <div id="footer" class="no-print">
            <p>Powered by <a href="http://jaspervdj.be/hakyll">Hakyll</a></p>
          </div>
        </div>
      </div>
    </body>
</html>
