<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>duplode.github.io - $title$</title>
        <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.4.2/pure-min.css">
        <link rel="stylesheet" type="text/css" href="/css/skin.css" />
        <link rel="stylesheet" type="text/css" href="/css/default.css" />
        <link rel="stylesheet" type="text/css" href="/css/syntax.css" />
    </head>
    <body class="pure-skin-duplode">
      <div class="pure-g-r">
        <div class="pure-u-1-5">
          <div id="navigation">
            <div class="pure-menu pure-menu-open">
              <a class="pure-menu-heading">duplode</a>
              <ul>
                <li><a href="/index.html">Home</a></li>
                <li><a href="/posts.html">Posts</a></li>
                <li><a href="/about.html">About</a></li>
                <li><a href="/rss.xml">RSS</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="pure-u-4-5">
          <div id="content">
            <h1>$title$</h1>

            $body$

            $reddit-button$

            $license-info$
          </div>
        </div>
      </div>
      <div id="footer">
        <p>Powered by <a href="http://jaspervdj.be/hakyll">Hakyll</a></p>
      </div>
    </body>
</html>
