body {
    color: black;
    font-size: 16px;
    font-size: 1.0rem;
    max-width: 960px;
}

/*
div#header {
    border-bottom: 2px solid black;
    margin-bottom: 30px;
    padding: 12px 0px 12px 0px;
}
*/
div#content {
    margin-right: 1em;
    max-width: 720px;
    max-width: 45rem;
}

div#navigation {
    text-align: right;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 1em;
    padding-bottom: 1em;
    position: fixed;
}

div#navigation a {
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    text-transform: none;
}

div#navigation .menu-title {
    font-size: 18px;
    font-family: monospace;
}

div#navigation span.menu-subtitle {
    font-size: 16px;
    font-weight: normal;
    font-style: italic;
}

div#footer {
    border-top: solid 1px lavender;
    color: #555;
    font-size: 12px;
    margin-top: 30px;
    padding: 12px 1em 12px 1em;
    text-align: right;
}

div.license {
    background-color: ghostwhite;
    font-size: small;
}

span.inline-centered {
    display: block;
    text-align: center;
}

/* Rule for the old button. */
/*
div.reddit-button {
    padding-top: 0.2em;
    margin-right: 1em;
    vertical-align: middle;
}
*/

a#gh-comments-button {
    color: white;
    background-color: #6cc644;
    border-radius: 4px;
    font-size: x-small;
    font-weight: bold;
}

a#reddit-discussion-button {
    color: white;
    background-color: #5f99cf;
    border-radius: 4px;
    font-size: x-small;
    font-weight: bold;
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 20px;
}

h3 {
    font-size: 16px;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid lavender;
    margin: 1em 0; padding: 0;
}

/*
div.info {
    color: #555;
    font-size: 14px;
    font-style: italic;
}
*/

@media print {
    .no-print {
        display: none;
    }

    div#content {
        position: absolute;
    }
}

@media (max-width: 767px) {
    div#navigation {
        position: static;
        text-align: center;
    }

    div#navigation > .pure-menu.pure-menu-open > ul > li {
        display: inline-block;
        zoom: 1;
        *display: inline;
    }

    div#content {
        margin-left: 1em;
    }
}
